/* Estilos CSS */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    padding: 20px 20px;
    position: static;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo span {
    font-weight: bold;
    font-size: 2em;
    color: #e60000;
    transition: color 0.3s;
}

.logo span:hover {
    color: #fff;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-item {
    margin: 0 15px;
    position: relative;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #aa0000;
}

.search-icon {
    display: flex;
    align-items: center;
}

.menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

main {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: #1a1a1a;
    color: #fff;
    padding: 20px;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
}

.home-text {
    max-width: 550px;
    flex: 1;
}

.home-text h4 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #e60000;
}

.home-text h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.home-text p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.home-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #e60000;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 70px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.home-btn:hover {
    background-color: #aa0000;
    transform: scale(1.05);
}

.home-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.home-img img {
    max-width: 70%;
    height: auto;
}

footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.footer-content h4 {
    margin-top: 20px;
    color: #e60000;
}

.footer-content p, .footer-content ul {
    margin: 10px 0;
}

.footer-content ul {
    padding: 0;
    list-style: none;
}

.footer-content ul li {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        text-align: right;
        padding: 10px 0;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        margin: 10px 0;
    }

    .menu {
        display: flex;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .home-text h1 {
        font-size: 2em;
    }

    .home-img {
        justify-content: center;
        padding-right: 0;
    }

    .home-img img {
        margin-top: 20px;
        max-width: 90%;
    }

    footer {
        padding: 10px;
    }

    .footer-content {
        text-align: center;
    }
}
.contat-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #e60000;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 70px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    cursor:pointer;
}

.contat-btn:hover {
    background-color: #aa0000;
    transform: scale(1.05);
}